<div class="login-container">
  
<div class="card">

  <div class="login-title" *ngIf="isLoginMode">Login</div>
  <div class="login-title" *ngIf="!isLoginMode">Signup for free today</div>
  <p class="login-subtitle">
  Plan your perfect trek journey
</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="width: 90%;">
   <div class="field">
    <!-- <label>User Name</label> -->
     <input type="text" pInputText class="inputClass" formControlName="name" placeholder="Name">
     <small class="error"
  *ngIf="loginForm.get('name')?.touched && loginForm.get('name')?.invalid">
  
  <span *ngIf="loginForm.get('name')?.errors?.['required']">
    Full Name is required
  </span>
</small>
   </div>
   <div class="field">
    <!-- <label>Email Id</label> -->
     <input type="email" pEmail class="inputClass" formControlName="emailId" placeholder="Email ID">
     <small class="error"
  *ngIf="loginForm.get('emailId')?.touched && loginForm.get('emailId')?.invalid">
  
  <span *ngIf="loginForm.get('emailId')?.errors?.['required']">
    Email ID is required
  </span>

  <span *ngIf="loginForm.get('emailId')?.errors?.['minlength']">
    Minimum 7 characters required
  </span>
</small>
   </div>
   <div class="field">
    <!-- <label>Password</label> -->
     <input type="password" pPassword class="inputClass" formControlName="password" placeholder="Password">
     <small class="error"
  *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
  
  <span *ngIf="loginForm.get('password')?.errors?.['required']">
    Password is required
  </span>

  <span *ngIf="loginForm.get('password')?.errors?.['minlength']">
    Minimum 7 characters required
  </span>
</small>
   </div>

   <div class="row col-sm-12" *ngIf="isLoginMode">
    <button type="submit" [disabled]="loginForm.invalid || !isLoginMode" class="login-btn" (click)="isLoginMode = true">Submit</button>
   </div>
   <div class="row col-sm-12">
    <button type="submit" (click)="signup()" [ngClass]="isLoginMode ? 'back-btn' : 'login-btn'">Signup for free today</button>
</div>
</form>

</div>

<p-dialog [(visible)]="spinnerOn" [modal]="true" [closable]="false" [showHeader]="false" [style]="{width: '120px', background: 'transparent', boxShadow: 'none', border: 'none'}">
               <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</p-dialog>

</div>





