.p-sidebar{
    z-index: 9999 !important;
}

.p-sidebar-content{
    height: 100% !important;
}

.mat-drawer-container {
    height:826px;
    margin-top: -4%;
}

:host ::ng-deep .mat-drawer-inner-container {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 60px;
    height: 800px;
    margin-top: 20px;
    /* margin-left: -2px; */
    padding-left: 18px;
}

.mat-drawer-content{
        margin-left: 1px !important;
}

.mat-drawer-side {
    color: #ffff;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    background: rgba(15, 23, 42, 0.65);
}

:host ::ng-deep .mat-drawer-inner-container.navigate :hover{
    background-color: #8bbff3;
    color: #ffff;
}

:host ::ng-deep .p-carousel {
    background-color: #141e2f;
    transition: all 0.3s ease;
    cursor: pointer;
}

:host ::ng-deep .p-carousel:hover {
    background-color: #141e2f;
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-prev, :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
    background-color: #c1c1d7;
    border-radius: 15px;
}

:host ::ng-deep .p-datatable {
    /* background-color: #282c4f !important; */
}

:host ::ng-deep .p-datatable .p-datatable-table {
    /* background-color: #282c4f !important; */
    border-collapse: seperate !important;
    border-spacing: 0 12px !important;
}

th, td {
    border: none !important;
}

:host ::ng-deep table{
    border-collapse: seperate !important;
}

:host ::ng-deep .p-datatable-thead > tr{
    /* border-bottom: 15px solid #0f0f2f !important;
    overflow: hidden !important; */
    margin-bottom: 12px;
    /* display: block; */
    background-color: #0f0f2f;
}

:host ::ng-deep .p-datatable-thead > tr > th {
    background-color: #282c4f !important;
    color: #d4c7c7 !important;
    /* border:none !important; */
    /* border-bottom: 15px solid #0f0f2f !important;
    overflow: hidden !important; */
    height: 50px;
}

:host ::ng-deep .p-datatable-thead > tr > th:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* overflow: hidden !important; */
}
:host ::ng-deep .p-datatable-thead > tr > th:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* overflow: hidden !important; */
}

:host ::ng-deep .p-datatable-tbody > tr{
    /* border-bottom: 15px solid #0f0f2f !important;
    overflow: hidden !important; */
    margin-bottom: 12px;
    /* display: block; */
    background-color: #0f0f2f;
}

:host ::ng-deep .p-datatable-tbody > tr > td {
    background-color: #282c4f !important;
    color: #d4c7c7 !important;
    /* border:none !important; */
    /* border-bottom: 15px solid #0f0f2f !important; */
    /* overflow: hidden !important; */
    height: 50px;
}

:host ::ng-deep .p-datatable-tbody > tr > td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden !important;
}
:host ::ng-deep .p-datatable-tbody > tr > td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden !important;
}

:host ::ng-deep .p-paginator {
    background-color: #0f0f2f !important;
    border: none !important;
    box-shadow: none !important;
}

.saved-card{
    background: #0f172a;
    padding: 12px;
    border-radius: 16px;
    color: white;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
}

.saved-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.thumb{
    width: 300px;
    height: 200px;
    border-radius: 12px;
    object-fit: cover;
    margin-left: 1.5%;
    margin-top: 2%;
}

.saved-container {
    display : grid;
    grid-template-columns : repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
}

.overlay {
    border-radius: 20px;
    overflow: hidden;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
}

.overlay::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
}

.trekOptions{
    padding-top: 6%;
    margin-top: -5%;
    padding-left: 5%;
    margin-left: -5%;
    background: radial-gradient(circle at top, #1e293b, #020617);
    font-family: 'Inter', sans-serif;
}

:host ::ng-deep .p-dialog-mask {
  background: rgba(0,0,0,0.3) !important;
  z-index: 10000 !important;
}

:host ::ng-deep .p-dialog .p-dialog-content{
    background: transparent;
    overflow: hidden !important;
}

.sidebarIcons{
    font-size: 20px;
    color: #ffff;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: -24%;
}

.sidebarIcons:hover {
    background: rgba(255, 255, 255, 0.1);
    margin-left: -24%;
}

.wrapper {
  position: relative;
  height: 500px;
  width: 650px
}

.planTrip {
  background: linear-gradient(135deg, #4f46e5, #2563eb);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
  margin-top: -9%;
  position: relative;
  z-index: 800;
  margin-right: 2%;
}

.planTrip:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(37, 99, 235, 0.4);
}

.delete-btn {
  position: absolute;
  bottom: 12px;
  right: 12px;
  opacity: 0.7;
  cursor: pointer;
}

.delete-btn:hover {
  opacity: 1;
}
